<html>
<head>
    <script src="/static/jquery-3.2.1.min.js"></script>
    <script>
        $(document).ready(function(){
            $(document).mousemove(function(event){
                $.post("/event", {clientX: event.clientX, clientY: event.clientY})
            });
        });
    </script>
    <title>Hello from Flask</title>
</head>
<body>
{% if name %}
<h1>Hello {{ name }}!</h1>
{% else %}
<h1>Hello, World!</h1>
{% endif %}
</body>
</html>
